<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>DeskPort</string>
	<key>CFBundleGetInfoString</key>
	<string>Remote desktop workspace based on Moonlight</string>
	<key>CFBundleIconFile</key>
	<string>deskport</string>
	<key>CFBundleIdentifier</key>
	<string>io.github.keithxc.DeskPort</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>LSMinimumSystemVersion</key>
	<string>26.0</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>GCSupportedGameControllers</key>
	<array>
		<dict>
			<key>ProfileName</key>
			<string>ExtendedGamepad</string>
		</dict>
	</array>
	<key>GCSupportsControllerUserInteraction</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocalNetworkUsageDescription</key>
	<string>DeskPort uses the local network to connect to your remote desktop host.</string>
	<key>CFBundleVersion</key>
	<string>VERSION</string>
	<key>CFBundleShortVersionString</key>
	<string>VERSION</string>
	<key>CFBundleDisplayName</key>
	<string>DeskPort</string>
</dict>
</plist>
